/* Estilos gerais */
body {
    background-color: #f8f9fa;
}

/* Container */
.container {
    margin-top: 30px;
}

/* Card */
.card {
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #007bff;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #4a90e2;
    padding: 10px;
    text-align: center;
    color: #fff;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header nav {
    margin-top: 10px;
}

header nav a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.footer {
    background-color: #4a90e2; /* Mesma cor do cabeçalho */
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 5px 0;
}

.footer-nav {
    margin-top: 5px;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.footer-nav a:hover {
    text-decoration: underline; /* Adiciona um efeito ao passar o mouse */
}